In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('app1').getOrCreate()
df=spark.read.option('header','true').csv('Salaries.csv')
df.printSchema(),df.limit(1).show(vertical=True),df.describe().show()

root
 |-- Id: string (nullable = true)
 |-- EmployeeName: string (nullable = true)
 |-- JobTitle: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Exp: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)

-RECORD 0----------------------------
 Id           | 1
 EmployeeName | NATHANIEL FORD
 JobTitle     | GENERAL MANAGER-M...
 Salary       | 34032
 Age          | 80
 Exp          | 18
 Country      | UK
 City         | London

+-------+-----------------+--------------+--------------------+------------------+------------------+------------------+-------+--------+
|summary|               Id|  EmployeeName|            JobTitle|            Salary|               Age|               Exp|Country|    City|
+-------+-----------------+--------------+--------------------+------------------+------------------+------------------+-------+--------+
|  count|               74|            74|                  74|                74|                74|                74|     74|      64|
|   mean|             37.5|          null|                null| 29012.31081081081|55.148648648648646|10.027027027027026|   null|    null|
| stddev|21.50581316760657|          null|                null|12716.486404023604| 22.24193400506845| 6.285388520097592|   null|    null|
|    min|                1|AI-KYUNG CHUNG|ADMINISTRATOR, SF...|             10128|                20|                 1|Germany|  Berlin|
|    max|                9|     WING CHAN|WIRE ROPE CABLE M...|              8117|                90|                 9|    USA|New York|
+-------+-----------------+--------------+--------------------+------------------+------------------+------------------+-------+--------+

(None, None, None)

In [2]:
df.count()

74

In [3]:
df.filter('Age<80').select(['Country']).count()

56

In [4]:
df.filter(df.City!='London').count()

60

In [5]:
df.filter("City<>'London'").count()

60

In [6]:
df.filter(~(df.City=='London')).count()

60

In [7]:
df.filter("City<>'London' and Age<80 or Salary>1000").count()

74

In [8]:
# col

from pyspark.sql.functions import col

In [9]:
df.filter(df.City=='London').count()

4

In [10]:
df.filter(col('City')=='London').count()

4

In [11]:
# groupBy ~ count

df.groupBy('City').count().show()

+----------+-----+
|      City|count|
+----------+-----+
|Manchester|    4|
|    Berlin|   17|
|    London|    4|
| Las Vegas|    5|
|     Leeds|    9|
|  New York|   25|
|      null|   10|
+----------+-----+

In [12]:
# isin

cit=['Manchester','Leeds']
df.filter(df.City.isin(cit)).count()

13

In [13]:
# startswith, endswith, contains

df.filter(df.City.startswith('L')).count()

18

In [14]:
df.filter(df.City.endswith('k')).count()

25

In [15]:
df.filter(df.City.contains('ee')).count()

9

In [16]:
# like and rlike

df.select('EmployeeName').show()

+------------------+
|      EmployeeName|
+------------------+
|    NATHANIEL FORD|
|      GARY JIMENEZ|
|    ALBERT PARDINI|
| CHRISTOPHER CHONG|
|   PATRICK GARDNER|
|    DAVID SULLIVAN|
|         ALSON LEE|
|     DAVID KUSHNER|
|    MICHAEL MORRIS|
|JOANNE HAYES-WHITE|
|     ARTHUR KENNEY|
|  PATRICIA JACKSON|
| EDWARD HARRINGTON|
|       JOHN MARTIN|
|    DAVID FRANKLIN|
|   RICHARD CORRIEA|
|          AMY HART|
|    SEBASTIAN WONG|
|        MARTY ROSS|
|     ELLEN MOFFATT|
+------------------+
only showing top 20 rows

In [17]:
df.filter(df.EmployeeName.like('%LEE%')).show()

+---+------------+--------------------+------+---+---+-------+------+
| Id|EmployeeName|            JobTitle|Salary|Age|Exp|Country|  City|
+---+------------+--------------------+------+---+---+-------+------+
|  7|   ALSON LEE|BATTALION CHIEF, ...| 33000| 34| 12|     UK| Leeds|
| 46|   EDWIN LEE|               MAYOR| 10498| 54| 13|Germany|Berlin|
+---+------------+--------------------+------+---+---+-------+------+

In [18]:
df.filter(df.EmployeeName.like('%LEE')).show()

+---+------------+--------------------+------+---+---+-------+------+
| Id|EmployeeName|            JobTitle|Salary|Age|Exp|Country|  City|
+---+------------+--------------------+------+---+---+-------+------+
|  7|   ALSON LEE|BATTALION CHIEF, ...| 33000| 34| 12|     UK| Leeds|
| 46|   EDWIN LEE|               MAYOR| 10498| 54| 13|Germany|Berlin|
+---+------------+--------------------+------+---+---+-------+------+

In [19]:
# rlike - SQL RLIKE pattern (LIKE with Regex) - this check case insensitive

df.filter(df.EmployeeName.rlike("(?i)^*martin$")).show()

+---+------------+-----------------+------+---+---+-------+----------+
| Id|EmployeeName|         JobTitle|Salary|Age|Exp|Country|      City|
+---+------------+-----------------+------+---+---+-------+----------+
| 14| JOHN MARTIN|DEPARTMENT HEAD V| 10430| 39| 11|     UK|Manchester|
+---+------------+-----------------+------+---+---+-------+----------+

In [20]:
# filter on an Array column

from pyspark.sql.functions import array_contains # df.filter(array_contains(df.JobTitle,"Head"))

In [21]:
df.groupBy('Country').agg({'Salary':'sum'}).show()

+-------+-----------+
|Country|sum(Salary)|
+-------+-----------+
|Germany|   885133.0|
|    USA|   690062.0|
|     UK|   571716.0|
+-------+-----------+

In [22]:
df.agg({'Age':'avg'}).show()

+------------------+
|          avg(Age)|
+------------------+
|55.148648648648646|
+------------------+

In [23]:
df.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|  2146911.0|
+-----------+

In [25]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- EmployeeName: string (nullable = true)
 |-- JobTitle: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Exp: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)

In [29]:
df.filter(df.Age > 25).agg({'Salary':'avg'}).show()

+------------------+
|       avg(Salary)|
+------------------+
|28853.716417910447|
+------------------+

In [32]:
df.groupBy('Country').agg({'Salary':'avg'}).filter(df.Country != "USA").show()

+-------+------------------+
|Country|       avg(Salary)|
+-------+------------------+
|Germany|29504.433333333334|
|     UK|           31762.0|
+-------+------------------+

In [35]:
# PySpark SQL- Get Current Date & Timestamp

spark.sql("select current_date(), current_timestamp()").show(truncate=False)

+--------------+-----------------------+
|current_date()|current_timestamp()    |
+--------------+-----------------------+
|2021-11-20    |2021-11-20 15:04:59.852|
+--------------+-----------------------+

In [48]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- EmployeeName: string (nullable = true)
 |-- JobTitle: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Exp: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)

In [68]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window as W

In [69]:
df.withColumn("#rank", F.dense_rank().over(W.orderBy("Salary"))).show()

+---+----------------+--------------------+------+---+---+-------+----------+-----+
| Id|    EmployeeName|            JobTitle|Salary|Age|Exp|Country|      City|#rank|
+---+----------------+--------------------+------+---+---+-------+----------+-----+
| 29|  DENISE SCHMITT|DEPUTY CHIEF III ...| 10128| 72| 11|    USA|  New York|    1|
| 14|     JOHN MARTIN|   DEPARTMENT HEAD V| 10430| 39| 11|     UK|Manchester|    2|
| 46|       EDWIN LEE|               MAYOR| 10498| 54| 13|Germany|    Berlin|    3|
| 52|  BARBARA GARCIA|   DEPARTMENT HEAD V| 11732| 85| 20|Germany|    Berlin|    4|
| 23|   GEORGE GARCIA|CAPTAIN, FIRE SUP...| 14067| 70|  8|    USA|  New York|    5|
| 22|    JUDY MELINEK|ASSISTANT MEDICAL...| 14266| 81|  7|    USA|  New York|    6|
| 50|         KEN YEE|LIEUTENANT, FIRE ...| 15362| 70|  5|Germany|    Berlin|    7|
| 49|    JAMES DUDLEY|DEPUTY CHIEF III ...| 16433| 41| 14|Germany|    Berlin|    8|
| 27|     JOHN HANLEY|CAPTAIN, FIRE SUP...| 17394| 41|  4|    USA|  New York|    9|
| 25| JOSEPH DRISCOLL|CAPTAIN, FIRE SUP...| 18927| 24| 11|    USA|  New York|   10|
| 64|   CHARLES CRANE|BATTALION CHIEF, ...| 18992| 79|  1|Germany|  New York|   11|
| 44|MICHAEL THOMPSON|         FIREFIGHTER| 20716| 89|  8|    USA|      null|   12|
| 26|    GREGORY SUHR|     CHIEF OF POLICE|  2204| 30|  6|    USA|  New York|   13|
| 62|      ANNA BROWN|CAPTAIN III (POLI...| 22822| 62|  8|Germany|    Berlin|   14|
| 61|   KENNETH SMITH|LIEUTENANT, FIRE ...| 24983| 30| 21|Germany|    Berlin|   15|
| 24|   VICTOR WYRSCH|BATTALION CHIEF, ...| 25609| 20|  6|    USA|  New York|   16|
| 21|      VENUS AZAR|ASSISTANT MEDICAL...|  2588| 89| 14|    USA|  New York|   17|
| 68|   EDWARD ROLAND|CAPTAIN, FIRE SUP...| 27273| 41|  5|Germany|  New York|   18|
|  2|    GARY JIMENEZ|CAPTAIN III (POLI...| 27956| 48|  2|     UK|    London|   19|
| 17|        AMY HART|   DEPARTMENT HEAD V| 29633| 29|  1|     UK|Manchester|   20|
+---+----------------+--------------------+------+---+---+-------+----------+-----+
only showing top 20 rows