In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\programdata\anaconda3\lib\site-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in c:\programdata\anaconda3\lib\site-packages (from pyspark) (0.10.9.2)

In [3]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('App2').getOrCreate()

In [5]:
spark

In [2]:
import pandas as pd
pd.read_csv('titanic1.csv')

        Sex   Age     Fare
0      male  22.0     7.25
1    female  38.0  71.2833
2    female  26.0    7.925
3    female  35.0     53.1
4      male  35.0     8.05
..      ...   ...      ...
886    male  27.0       13
887  female  19.0       30
888  female   1.0        S
889    male  26.0       30
890    male  32.0     7.75

[891 rows x 3 columns]

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark=SparkSession.builder.appName('App1').getOrCreate()

In [8]:
spark.read.option('header','true').csv('titanic1.csv').show()

+------+---+-------+
|   Sex|Age|   Fare|
+------+---+-------+
|  male| 22|   7.25|
|female| 38|71.2833|
|female| 26|  7.925|
|female| 35|   53.1|
|  male| 35|   8.05|
|  male|  0|      Q|
|  male| 54|51.8625|
|  male|  2| 21.075|
|female| 27|11.1333|
|female| 14|30.0708|
|female|  4|   16.7|
|female| 58|  26.55|
|  male| 20|   8.05|
|  male| 39| 31.275|
|female| 14| 7.8542|
|female| 55|     16|
|  male|  2| 29.125|
|  male|  0|      S|
|female| 31|     18|
|female|  0|      C|
+------+---+-------+
only showing top 20 rows

In [13]:
df_pyspark=spark.read.option('header','true').csv('titanic1.csv',inferSchema=True)
df_pyspark.show()

+------+----+-------+
|   Sex| Age|   Fare|
+------+----+-------+
|  male|22.0|   7.25|
|female|38.0|71.2833|
|female|26.0|  7.925|
|female|35.0|   53.1|
|  male|35.0|   8.05|
|  male| 0.0|      Q|
|  male|54.0|51.8625|
|  male| 2.0| 21.075|
|female|27.0|11.1333|
|female|14.0|30.0708|
|female| 4.0|   16.7|
|female|58.0|  26.55|
|  male|20.0|   8.05|
|  male|39.0| 31.275|
|female|14.0| 7.8542|
|female|55.0|     16|
|  male| 2.0| 29.125|
|  male| 0.0|      S|
|female|31.0|     18|
|female| 0.0|      C|
+------+----+-------+
only showing top 20 rows

In [12]:
df_pyspark.printSchema()

root
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Fare: string (nullable = true)

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [16]:
df_pyspark.columns

['Sex', 'Age', 'Fare']

In [17]:
df_pyspark.head(3)

[Row(Sex='male', Age=22.0, Fare='7.25'),
 Row(Sex='female', Age=38.0, Fare='71.2833'),
 Row(Sex='female', Age=26.0, Fare='7.925')]

In [21]:
df_pyspark.select('Age')

DataFrame[Age: double]

In [23]:
type(df_pyspark.select('Age'))

pyspark.sql.dataframe.DataFrame

In [25]:
df_pyspark.select('Sex','Fare').show()

+------+-------+
|   Sex|   Fare|
+------+-------+
|  male|   7.25|
|female|71.2833|
|female|  7.925|
|female|   53.1|
|  male|   8.05|
|  male|      Q|
|  male|51.8625|
|  male| 21.075|
|female|11.1333|
|female|30.0708|
|female|   16.7|
|female|  26.55|
|  male|   8.05|
|  male| 31.275|
|female| 7.8542|
|female|     16|
|  male| 29.125|
|  male|      S|
|female|     18|
|female|      C|
+------+-------+
only showing top 20 rows

In [27]:
display(df_pyspark.select('Sex','Age'))

DataFrame[Sex: string, Age: double]