In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('app1').getOrCreate()
df=spark.read.option('header','true').csv('Salaries.csv')
df.printSchema(),df.limit(1).show(vertical=True),df.describe().show()

root
 |-- Id: string (nullable = true)
 |-- EmployeeName: string (nullable = true)
 |-- JobTitle: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Exp: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)

-RECORD 0----------------------------
 Id           | 1
 EmployeeName | NATHANIEL FORD
 JobTitle     | GENERAL MANAGER-M...
 Salary       | 34032
 Age          | 80
 Exp          | 18
 Country      | UK
 City         | London

+-------+-----------------+--------------+--------------------+------------------+------------------+------------------+-------+--------+
|summary|               Id|  EmployeeName|            JobTitle|            Salary|               Age|               Exp|Country|    City|
+-------+-----------------+--------------+--------------------+------------------+------------------+------------------+-------+--------+
|  count|               74|            74|                  74|                74|                74|                74|     74|      64|
|   mean|             37.5|          null|                null| 29012.31081081081|55.148648648648646|10.027027027027026|   null|    null|
| stddev|21.50581316760657|          null|                null|12716.486404023604| 22.24193400506845| 6.285388520097592|   null|    null|
|    min|                1|AI-KYUNG CHUNG|ADMINISTRATOR, SF...|             10128|                20|                 1|Germany|  Berlin|
|    max|                9|     WING CHAN|WIRE ROPE CABLE M...|              8117|                90|                 9|    USA|New York|
+-------+-----------------+--------------+--------------------+------------------+------------------+------------------+-------+--------+

(None, None, None)

In [8]:
df.count()

74

In [9]:
df.filter('Age<80').select(['Country']).count()

56

In [10]:
df.filter(df.City!='London').count()

60

In [24]:
df.filter("City<>'London'").count()

60

In [25]:
df.filter(~(df.City=='London')).count()

60

In [28]:
df.filter("City<>'London' and Age<80 or Salary>1000").count()

74

In [27]:
# col

from pyspark.sql.functions import col

In [19]:
df.filter(df.City=='London').count()

4

In [17]:
df.filter(col('City')=='London').count()

4

In [32]:
# groupBy ~ count

df.groupBy('City').count().show()

+----------+-----+
|      City|count|
+----------+-----+
|Manchester|    4|
|    Berlin|   17|
|    London|    4|
| Las Vegas|    5|
|     Leeds|    9|
|  New York|   25|
|      null|   10|
+----------+-----+

In [34]:
# isin

cit=['Manchester','Leeds']
df.filter(df.City.isin(cit)).count()

13

In [38]:
# startswith, endswith, contains

df.filter(df.City.startswith('L')).count()

18

In [40]:
df.filter(df.City.endswith('k')).count()

25

In [42]:
df.filter(df.City.contains('ee')).count()

9

In [60]:
# like and rlike

df.select('EmployeeName').show()

+------------------+
|      EmployeeName|
+------------------+
|    NATHANIEL FORD|
|      GARY JIMENEZ|
|    ALBERT PARDINI|
| CHRISTOPHER CHONG|
|   PATRICK GARDNER|
|    DAVID SULLIVAN|
|         ALSON LEE|
|     DAVID KUSHNER|
|    MICHAEL MORRIS|
|JOANNE HAYES-WHITE|
|     ARTHUR KENNEY|
|  PATRICIA JACKSON|
| EDWARD HARRINGTON|
|       JOHN MARTIN|
|    DAVID FRANKLIN|
|   RICHARD CORRIEA|
|          AMY HART|
|    SEBASTIAN WONG|
|        MARTY ROSS|
|     ELLEN MOFFATT|
+------------------+
only showing top 20 rows

In [64]:
df.filter(df.EmployeeName.like('%LEE%')).show()

+---+------------+--------------------+------+---+---+-------+------+
| Id|EmployeeName|            JobTitle|Salary|Age|Exp|Country|  City|
+---+------------+--------------------+------+---+---+-------+------+
|  7|   ALSON LEE|BATTALION CHIEF, ...| 33000| 34| 12|     UK| Leeds|
| 46|   EDWIN LEE|               MAYOR| 10498| 54| 13|Germany|Berlin|
+---+------------+--------------------+------+---+---+-------+------+

In [66]:
df.filter(df.EmployeeName.like('%LEE')).show()

+---+------------+--------------------+------+---+---+-------+------+
| Id|EmployeeName|            JobTitle|Salary|Age|Exp|Country|  City|
+---+------------+--------------------+------+---+---+-------+------+
|  7|   ALSON LEE|BATTALION CHIEF, ...| 33000| 34| 12|     UK| Leeds|
| 46|   EDWIN LEE|               MAYOR| 10498| 54| 13|Germany|Berlin|
+---+------------+--------------------+------+---+---+-------+------+

In [76]:
# rlike - SQL RLIKE pattern (LIKE with Regex) - this check case insensitive

df.filter(df.EmployeeName.rlike("(?i)^*martin$")).show()

+---+------------+-----------------+------+---+---+-------+----------+
| Id|EmployeeName|         JobTitle|Salary|Age|Exp|Country|      City|
+---+------------+-----------------+------+---+---+-------+----------+
| 14| JOHN MARTIN|DEPARTMENT HEAD V| 10430| 39| 11|     UK|Manchester|
+---+------------+-----------------+------+---+---+-------+----------+

In [78]:
# filter on an Array column

from pyspark.sql.functions import array_contains

In [83]:
# df.filter(array_contains(df.JobTitle,"Head"))

In [85]:
current_date()

NameError: name 'current_date' is not defined