In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\programdata\anaconda3\lib\site-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in c:\programdata\anaconda3\lib\site-packages (from pyspark) (0.10.9.2)

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('App3').getOrCreate()

In [3]:
spark

In [4]:
import pandas as pd
pd.read_csv('titanic1.csv')

        Sex   Age   Fare
0      male  22.0   7.25
1       NaN  71.3    NaN
2    female  26.0   7.93
3    female  53.1    NaN
4       NaN   NaN    NaN
..      ...   ...    ...
886    male  27.0  13.00
887  female  19.0  30.00
888  female   1.0      S
889    male  26.0  30.00
890    male  32.0   7.75

[891 rows x 3 columns]

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('App3').getOrCreate()

In [7]:
spark.read.option('header','true').csv('titanic1.csv').show()

+------+----+-----+
|   Sex| Age| Fare|
+------+----+-----+
|  male|22.0| 7.25|
|  null|71.3| null|
|female|26.0| 7.93|
|female|53.1| null|
|  null|null| null|
|  male| 0.0|    Q|
|  male|54.0|51.86|
|  male|null| null|
|female|27.0|11.13|
|  null|14.0|30.07|
|female| 4.0|16.70|
|female|58.0| null|
|  male|20.0| 8.05|
|  null|39.0|31.28|
|female|14.0| 7.85|
|female|16.0| null|
|  male| 2.0|29.13|
|  null| 0.0|    S|
|female|31.0|18.00|
|female| 0.0|    C|
+------+----+-----+
only showing top 20 rows

In [8]:
df_pyspark=spark.read.option('header','true').csv('titanic1.csv',inferSchema=True)
df_pyspark.show()

+------+----+-----+
|   Sex| Age| Fare|
+------+----+-----+
|  male|22.0| 7.25|
|  null|71.3| null|
|female|26.0| 7.93|
|female|53.1| null|
|  null|null| null|
|  male| 0.0|    Q|
|  male|54.0|51.86|
|  male|null| null|
|female|27.0|11.13|
|  null|14.0|30.07|
|female| 4.0|16.70|
|female|58.0| null|
|  male|20.0| 8.05|
|  null|39.0|31.28|
|female|14.0| 7.85|
|female|16.0| null|
|  male| 2.0|29.13|
|  null| 0.0|    S|
|female|31.0|18.00|
|female| 0.0|    C|
+------+----+-----+
only showing top 20 rows

In [9]:
df_pyspark.printSchema()

root
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Fare: string (nullable = true)

In [10]:
from pyspark.sql.types import IntegerType

df_pyspark = df_pyspark.withColumn("Age", df_pyspark["Age"].cast(IntegerType()))
df_pyspark = df_pyspark.withColumn("Fare", df_pyspark["Fare"].cast(IntegerType()))

In [11]:
df_pyspark.printSchema()

root
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Fare: integer (nullable = true)

In [12]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [13]:
# drop COLUMNS

In [14]:
df_pyspark.drop('Age').show()

+------+----+
|   Sex|Fare|
+------+----+
|  male|   7|
|  null|null|
|female|   7|
|female|null|
|  null|null|
|  male|null|
|  male|  51|
|  male|null|
|female|  11|
|  null|  30|
|female|  16|
|female|null|
|  male|   8|
|  null|  31|
|female|   7|
|female|null|
|  male|  29|
|  null|null|
|female|  18|
|female|null|
+------+----+
only showing top 20 rows

In [15]:
# drop NULL (na) values

In [16]:
df_pyspark.select().count()

891

In [17]:
df_pyspark.na.drop().select().count()

657

In [18]:
df_pyspark.na.drop().select().count() - df_pyspark.select().count()

-234

In [19]:
df_pyspark.na.drop().show()

+------+---+----+
|   Sex|Age|Fare|
+------+---+----+
|  male| 22|   7|
|female| 26|   7|
|  male| 54|  51|
|female| 27|  11|
|female|  4|  16|
|  male| 20|   8|
|female| 14|   7|
|  male|  2|  29|
|female| 31|  18|
|  male| 34|  13|
|female|  8|  21|
|  male| 19| 263|
|  male| 40|  27|
|  male| 66|  10|
|  male| 28|  82|
|  male| 42|  52|
|  male| 21|   8|
|female| 14|  11|
|female| 40|   9|
|female| 27|  21|
+------+---+----+
only showing top 20 rows

In [20]:
# any & how, drop NULL (na) values

In [21]:
df_pyspark.na.drop(how='all').select().count() - df_pyspark.select().count()

-3

In [22]:
df_pyspark.na.drop(how='all').show()

+------+----+----+
|   Sex| Age|Fare|
+------+----+----+
|  male|  22|   7|
|  null|  71|null|
|female|  26|   7|
|female|  53|null|
|  male|   0|null|
|  male|  54|  51|
|  male|null|null|
|female|  27|  11|
|  null|  14|  30|
|female|   4|  16|
|female|  58|null|
|  male|  20|   8|
|  null|  39|  31|
|female|  14|   7|
|female|  16|null|
|  male|   2|  29|
|  null|   0|null|
|female|  31|  18|
|female|   0|null|
|  male|  34|  13|
+------+----+----+
only showing top 20 rows

In [23]:
df_pyspark.na.drop(how='any').select().count() - df_pyspark.select().count()

-234

In [24]:
df_pyspark.na.drop(how='any').show()

+------+---+----+
|   Sex|Age|Fare|
+------+---+----+
|  male| 22|   7|
|female| 26|   7|
|  male| 54|  51|
|female| 27|  11|
|female|  4|  16|
|  male| 20|   8|
|female| 14|   7|
|  male|  2|  29|
|female| 31|  18|
|  male| 34|  13|
|female|  8|  21|
|  male| 19| 263|
|  male| 40|  27|
|  male| 66|  10|
|  male| 28|  82|
|  male| 42|  52|
|  male| 21|   8|
|female| 14|  11|
|female| 40|   9|
|female| 27|  21|
+------+---+----+
only showing top 20 rows

In [25]:
# threshold, drop NULL (na) values

In [26]:
df_pyspark.na.drop(how='any', thresh=2).select().count() - df_pyspark.select().count()

-17

In [27]:
df_pyspark.na.drop(how='any', thresh=2).show()

+------+---+----+
|   Sex|Age|Fare|
+------+---+----+
|  male| 22|   7|
|female| 26|   7|
|female| 53|null|
|  male|  0|null|
|  male| 54|  51|
|female| 27|  11|
|  null| 14|  30|
|female|  4|  16|
|female| 58|null|
|  male| 20|   8|
|  null| 39|  31|
|female| 14|   7|
|female| 16|null|
|  male|  2|  29|
|female| 31|  18|
|female|  0|null|
|  male| 34|  13|
|female| 15|null|
|  male| 35|null|
|female|  8|  21|
+------+---+----+
only showing top 20 rows

In [28]:
df_pyspark.na.drop(how='any', thresh=1).select().count() - df_pyspark.select().count()

-3

In [29]:
df_pyspark.na.drop(how='any', thresh=3).select().count() - df_pyspark.select().count()

-234

In [30]:
# subset, drop NULL (na) values

In [31]:
df_pyspark.na.drop(how='any', subset=['Sex']).select().count() - df_pyspark.select().count()

-28

In [32]:
df_pyspark.na.drop(how='any', subset=['Sex']).show()

+------+----+----+
|   Sex| Age|Fare|
+------+----+----+
|  male|  22|   7|
|female|  26|   7|
|female|  53|null|
|  male|   0|null|
|  male|  54|  51|
|  male|null|null|
|female|  27|  11|
|female|   4|  16|
|female|  58|null|
|  male|  20|   8|
|female|  14|   7|
|female|  16|null|
|  male|   2|  29|
|female|  31|  18|
|female|   0|null|
|  male|  34|  13|
|female|  15|null|
|  male|  35|null|
|female|   8|  21|
|female|null|null|
+------+----+----+
only showing top 20 rows

In [33]:
# filling missing values - fill all, fill columns,

In [34]:
df_pyspark.na.fill('Missing Vlues').show()

+-------------+----+----+
|          Sex| Age|Fare|
+-------------+----+----+
|         male|  22|   7|
|Missing Vlues|  71|null|
|       female|  26|   7|
|       female|  53|null|
|Missing Vlues|null|null|
|         male|   0|null|
|         male|  54|  51|
|         male|null|null|
|       female|  27|  11|
|Missing Vlues|  14|  30|
|       female|   4|  16|
|       female|  58|null|
|         male|  20|   8|
|Missing Vlues|  39|  31|
|       female|  14|   7|
|       female|  16|null|
|         male|   2|  29|
|Missing Vlues|   0|null|
|       female|  31|  18|
|       female|   0|null|
+-------------+----+----+
only showing top 20 rows

In [35]:
df_pyspark.na.fill('Missing Vlues',['Sex']).show()

+-------------+----+----+
|          Sex| Age|Fare|
+-------------+----+----+
|         male|  22|   7|
|Missing Vlues|  71|null|
|       female|  26|   7|
|       female|  53|null|
|Missing Vlues|null|null|
|         male|   0|null|
|         male|  54|  51|
|         male|null|null|
|       female|  27|  11|
|Missing Vlues|  14|  30|
|       female|   4|  16|
|       female|  58|null|
|         male|  20|   8|
|Missing Vlues|  39|  31|
|       female|  14|   7|
|       female|  16|null|
|         male|   2|  29|
|Missing Vlues|   0|null|
|       female|  31|  18|
|       female|   0|null|
+-------------+----+----+
only showing top 20 rows

In [36]:
df_pyspark.na.fill('Missing Vlues',['Age','Fare']).show()

+------+----+----+
|   Sex| Age|Fare|
+------+----+----+
|  male|  22|   7|
|  null|  71|null|
|female|  26|   7|
|female|  53|null|
|  null|null|null|
|  male|   0|null|
|  male|  54|  51|
|  male|null|null|
|female|  27|  11|
|  null|  14|  30|
|female|   4|  16|
|female|  58|null|
|  male|  20|   8|
|  null|  39|  31|
|female|  14|   7|
|female|  16|null|
|  male|   2|  29|
|  null|   0|null|
|female|  31|  18|
|female|   0|null|
+------+----+----+
only showing top 20 rows

In [37]:
# Imputer function

In [38]:
df_pyspark.show()

+------+----+----+
|   Sex| Age|Fare|
+------+----+----+
|  male|  22|   7|
|  null|  71|null|
|female|  26|   7|
|female|  53|null|
|  null|null|null|
|  male|   0|null|
|  male|  54|  51|
|  male|null|null|
|female|  27|  11|
|  null|  14|  30|
|female|   4|  16|
|female|  58|null|
|  male|  20|   8|
|  null|  39|  31|
|female|  14|   7|
|female|  16|null|
|  male|   2|  29|
|  null|   0|null|
|female|  31|  18|
|female|   0|null|
+------+----+----+
only showing top 20 rows

In [39]:
from pyspark.ml.feature import Imputer

In [40]:
df_pyspark.printSchema()

root
 |-- Sex: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Fare: integer (nullable = true)

In [41]:
from pyspark.ml.feature import Imputer

df_pyspark = df_pyspark.withColumn("Age", df_pyspark['Age'].cast('double')).withColumn('Fare', df_pyspark['Fare'].cast('double'))

imputer = Imputer(
    inputCols=['Age', 'Fare'],
    outputCols=['Age', 'Fare'])

imputer.fit(df_pyspark).transform(df_pyspark)

DataFrame[Sex: string, Age: double, Fare: double]

In [42]:
df_pyspark.printSchema()

root
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Fare: double (nullable = true)

In [43]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+
|summary|   Sex|               Age|             Fare|
+-------+------+------------------+-----------------+
|  count|   863|               882|              674|
|   mean|  null|24.334467120181404|34.63501483679525|
| stddev|  null|19.658154945088704|53.37487226287792|
|    min|female|               0.0|              0.0|
|    max|  male|             263.0|            512.0|
+-------+------+------------------+-----------------+

In [44]:
# get the Mean of a column

df_pyspark.agg({'Fare': 'mean'}).show()

+-----------------+
|        avg(Fare)|
+-----------------+
|34.63501483679525|
+-----------------+

In [45]:
df_pyspark.agg({'Age': 'avg'}).show()

+------------------+
|          avg(Age)|
+------------------+
|24.334467120181404|
+------------------+

In [46]:
# get the Standard Deviation of a column

df_pyspark.agg({'Fare': 'stddev'}).show()

+-----------------+
|     stddev(Fare)|
+-----------------+
|53.37487226287792|
+-----------------+

In [47]:
df_pyspark.agg({'Fare': 'variance'}).show()

+------------------+
|    variance(Fare)|
+------------------+
|2848.8769890785347|
+------------------+

In [48]:
imputer = Imputer(
    inputCols=['Age', 'Fare'],
    outputCols=["{}_imputed".format(c) for c in ['Age', 'Fare'] ]
    ).setStrategy("mean")

In [49]:
# add imputation cols to df

In [50]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----+------------------+-----------------+
|   Sex| Age|Fare|       Age_imputed|     Fare_imputed|
+------+----+----+------------------+-----------------+
|  male|22.0| 7.0|              22.0|              7.0|
|  null|71.0|null|              71.0|34.63501483679525|
|female|26.0| 7.0|              26.0|              7.0|
|female|53.0|null|              53.0|34.63501483679525|
|  null|null|null|24.334467120181404|34.63501483679525|
|  male| 0.0|null|               0.0|34.63501483679525|
|  male|54.0|51.0|              54.0|             51.0|
|  male|null|null|24.334467120181404|34.63501483679525|
|female|27.0|11.0|              27.0|             11.0|
|  null|14.0|30.0|              14.0|             30.0|
|female| 4.0|16.0|               4.0|             16.0|
|female|58.0|null|              58.0|34.63501483679525|
|  male|20.0| 8.0|              20.0|              8.0|
|  null|39.0|31.0|              39.0|             31.0|
|female|14.0| 7.0|              14.0|              7.0|
|female|16.0|null|              16.0|34.63501483679525|
|  male| 2.0|29.0|               2.0|             29.0|
|  null| 0.0|null|               0.0|34.63501483679525|
|female|31.0|18.0|              31.0|             18.0|
|female| 0.0|null|               0.0|34.63501483679525|
+------+----+----+------------------+-----------------+
only showing top 20 rows