In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\programdata\anaconda3\lib\site-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in c:\programdata\anaconda3\lib\site-packages (from pyspark) (0.10.9.2)

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('App6').getOrCreate()

In [3]:
spark

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('App6').getOrCreate()

In [6]:
spark.read.option('header','true').csv('Salaries.csv').show()

+---+------------------+--------------------+------+---+---+-------+----------+
| Id|      EmployeeName|            JobTitle|Salary|Age|Exp|Country|      City|
+---+------------------+--------------------+------+---+---+-------+----------+
|  1|    NATHANIEL FORD|GENERAL MANAGER-M...| 34032| 80| 18|     UK|    London|
|  2|      GARY JIMENEZ|CAPTAIN III (POLI...| 27956| 48|  2|     UK|    London|
|  3|    ALBERT PARDINI|CAPTAIN III (POLI...| 33000| 78|  5|     UK|    London|
|  4| CHRISTOPHER CHONG|WIRE ROPE CABLE M...| 33000| 38|  8|     UK|    London|
|  5|   PATRICK GARDNER|DEPUTY CHIEF OF D...| 33000| 39| 11|     UK|     Leeds|
|  6|    DAVID SULLIVAN|ASSISTANT DEPUTY ...| 33000| 64|  2|     UK|     Leeds|
|  7|         ALSON LEE|BATTALION CHIEF, ...| 33000| 34| 12|     UK|     Leeds|
|  8|     DAVID KUSHNER|DEPUTY DIRECTOR O...| 33000| 62| 16|     UK|     Leeds|
|  9|    MICHAEL MORRIS|BATTALION CHIEF, ...| 33000| 23| 12|     UK|     Leeds|
| 10|JOANNE HAYES-WHITE|CHIEF OF DEPARTME...| 33000| 80| 21|     UK|     Leeds|
| 11|     ARTHUR KENNEY|ASSISTANT CHIEF O...| 33000| 52|  3|     UK|     Leeds|
| 12|  PATRICIA JACKSON|CAPTAIN III (POLI...| 33000| 86|  8|     UK|     Leeds|
| 13| EDWARD HARRINGTON|EXECUTIVE CONTRAC...| 54211| 85|  5|     UK|     Leeds|
| 14|       JOHN MARTIN|   DEPARTMENT HEAD V| 10430| 39| 11|     UK|Manchester|
| 15|    DAVID FRANKLIN|BATTALION CHIEF, ...|  5187| 57| 15|     UK|Manchester|
| 16|   RICHARD CORRIEA|COMMANDER III, (P...| 39291| 25| 20|     UK|Manchester|
| 17|          AMY HART|   DEPARTMENT HEAD V| 29633| 29|  1|     UK|Manchester|
| 18|    SEBASTIAN WONG|CAPTAIN, EMERGENC...| 40976| 85|  4|     UK|      null|
| 19|        MARTY ROSS|BATTALION CHIEF, ...| 38209| 38| 19|    USA|  New York|
| 20|     ELLEN MOFFATT|ASSISTANT MEDICAL...| 41502| 28|  1|    USA|  New York|
+---+------------------+--------------------+------+---+---+-------+----------+
only showing top 20 rows

In [7]:
df_pyspark=spark.read.option('header','true').csv('Salaries.csv',inferSchema=True)
df_pyspark.show()

+---+------------------+--------------------+------+---+---+-------+----------+
| Id|      EmployeeName|            JobTitle|Salary|Age|Exp|Country|      City|
+---+------------------+--------------------+------+---+---+-------+----------+
|  1|    NATHANIEL FORD|GENERAL MANAGER-M...| 34032| 80| 18|     UK|    London|
|  2|      GARY JIMENEZ|CAPTAIN III (POLI...| 27956| 48|  2|     UK|    London|
|  3|    ALBERT PARDINI|CAPTAIN III (POLI...| 33000| 78|  5|     UK|    London|
|  4| CHRISTOPHER CHONG|WIRE ROPE CABLE M...| 33000| 38|  8|     UK|    London|
|  5|   PATRICK GARDNER|DEPUTY CHIEF OF D...| 33000| 39| 11|     UK|     Leeds|
|  6|    DAVID SULLIVAN|ASSISTANT DEPUTY ...| 33000| 64|  2|     UK|     Leeds|
|  7|         ALSON LEE|BATTALION CHIEF, ...| 33000| 34| 12|     UK|     Leeds|
|  8|     DAVID KUSHNER|DEPUTY DIRECTOR O...| 33000| 62| 16|     UK|     Leeds|
|  9|    MICHAEL MORRIS|BATTALION CHIEF, ...| 33000| 23| 12|     UK|     Leeds|
| 10|JOANNE HAYES-WHITE|CHIEF OF DEPARTME...| 33000| 80| 21|     UK|     Leeds|
| 11|     ARTHUR KENNEY|ASSISTANT CHIEF O...| 33000| 52|  3|     UK|     Leeds|
| 12|  PATRICIA JACKSON|CAPTAIN III (POLI...| 33000| 86|  8|     UK|     Leeds|
| 13| EDWARD HARRINGTON|EXECUTIVE CONTRAC...| 54211| 85|  5|     UK|     Leeds|
| 14|       JOHN MARTIN|   DEPARTMENT HEAD V| 10430| 39| 11|     UK|Manchester|
| 15|    DAVID FRANKLIN|BATTALION CHIEF, ...|  5187| 57| 15|     UK|Manchester|
| 16|   RICHARD CORRIEA|COMMANDER III, (P...| 39291| 25| 20|     UK|Manchester|
| 17|          AMY HART|   DEPARTMENT HEAD V| 29633| 29|  1|     UK|Manchester|
| 18|    SEBASTIAN WONG|CAPTAIN, EMERGENC...| 40976| 85|  4|     UK|      null|
| 19|        MARTY ROSS|BATTALION CHIEF, ...| 38209| 38| 19|    USA|  New York|
| 20|     ELLEN MOFFATT|ASSISTANT MEDICAL...| 41502| 28|  1|    USA|  New York|
+---+------------------+--------------------+------+---+---+-------+----------+
only showing top 20 rows

In [8]:
df_pyspark.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- EmployeeName: string (nullable = true)
 |-- JobTitle: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Exp: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)

In [9]:
# Machine Learning

In [10]:
# Independent Feature -----------> Age, Exp

In [11]:
from pyspark.ml.feature import VectorAssembler

In [12]:
featureassembler=VectorAssembler(inputCols=['Age','Exp'],outputCol="Independent Features")

In [13]:
output=featureassembler.transform(df_pyspark)

In [14]:
output

DataFrame[Id: int, EmployeeName: string, JobTitle: string, Salary: int, Age: int, Exp: int, Country: string, City: string, Independent Features: vector]

In [15]:
output.columns

['Id',
 'EmployeeName',
 'JobTitle',
 'Salary',
 'Age',
 'Exp',
 'Country',
 'City',
 'Independent Features']

In [16]:
output.show()

+---+------------------+--------------------+------+---+---+-------+----------+--------------------+
| Id|      EmployeeName|            JobTitle|Salary|Age|Exp|Country|      City|Independent Features|
+---+------------------+--------------------+------+---+---+-------+----------+--------------------+
|  1|    NATHANIEL FORD|GENERAL MANAGER-M...| 34032| 80| 18|     UK|    London|         [80.0,18.0]|
|  2|      GARY JIMENEZ|CAPTAIN III (POLI...| 27956| 48|  2|     UK|    London|          [48.0,2.0]|
|  3|    ALBERT PARDINI|CAPTAIN III (POLI...| 33000| 78|  5|     UK|    London|          [78.0,5.0]|
|  4| CHRISTOPHER CHONG|WIRE ROPE CABLE M...| 33000| 38|  8|     UK|    London|          [38.0,8.0]|
|  5|   PATRICK GARDNER|DEPUTY CHIEF OF D...| 33000| 39| 11|     UK|     Leeds|         [39.0,11.0]|
|  6|    DAVID SULLIVAN|ASSISTANT DEPUTY ...| 33000| 64|  2|     UK|     Leeds|          [64.0,2.0]|
|  7|         ALSON LEE|BATTALION CHIEF, ...| 33000| 34| 12|     UK|     Leeds|         [34.0,12.0]|
|  8|     DAVID KUSHNER|DEPUTY DIRECTOR O...| 33000| 62| 16|     UK|     Leeds|         [62.0,16.0]|
|  9|    MICHAEL MORRIS|BATTALION CHIEF, ...| 33000| 23| 12|     UK|     Leeds|         [23.0,12.0]|
| 10|JOANNE HAYES-WHITE|CHIEF OF DEPARTME...| 33000| 80| 21|     UK|     Leeds|         [80.0,21.0]|
| 11|     ARTHUR KENNEY|ASSISTANT CHIEF O...| 33000| 52|  3|     UK|     Leeds|          [52.0,3.0]|
| 12|  PATRICIA JACKSON|CAPTAIN III (POLI...| 33000| 86|  8|     UK|     Leeds|          [86.0,8.0]|
| 13| EDWARD HARRINGTON|EXECUTIVE CONTRAC...| 54211| 85|  5|     UK|     Leeds|          [85.0,5.0]|
| 14|       JOHN MARTIN|   DEPARTMENT HEAD V| 10430| 39| 11|     UK|Manchester|         [39.0,11.0]|
| 15|    DAVID FRANKLIN|BATTALION CHIEF, ...|  5187| 57| 15|     UK|Manchester|         [57.0,15.0]|
| 16|   RICHARD CORRIEA|COMMANDER III, (P...| 39291| 25| 20|     UK|Manchester|         [25.0,20.0]|
| 17|          AMY HART|   DEPARTMENT HEAD V| 29633| 29|  1|     UK|Manchester|          [29.0,1.0]|
| 18|    SEBASTIAN WONG|CAPTAIN, EMERGENC...| 40976| 85|  4|     UK|      null|          [85.0,4.0]|
| 19|        MARTY ROSS|BATTALION CHIEF, ...| 38209| 38| 19|    USA|  New York|         [38.0,19.0]|
| 20|     ELLEN MOFFATT|ASSISTANT MEDICAL...| 41502| 28|  1|    USA|  New York|          [28.0,1.0]|
+---+------------------+--------------------+------+---+---+-------+----------+--------------------+
only showing top 20 rows

In [17]:
finalized_data=output.select('Independent Features','Salary')

In [18]:
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [80.0,18.0]| 34032|
|          [48.0,2.0]| 27956|
|          [78.0,5.0]| 33000|
|          [38.0,8.0]| 33000|
|         [39.0,11.0]| 33000|
|          [64.0,2.0]| 33000|
|         [34.0,12.0]| 33000|
|         [62.0,16.0]| 33000|
|         [23.0,12.0]| 33000|
|         [80.0,21.0]| 33000|
|          [52.0,3.0]| 33000|
|          [86.0,8.0]| 33000|
|          [85.0,5.0]| 54211|
|         [39.0,11.0]| 10430|
|         [57.0,15.0]|  5187|
|         [25.0,20.0]| 39291|
|          [29.0,1.0]| 29633|
|          [85.0,4.0]| 40976|
|         [38.0,19.0]| 38209|
|          [28.0,1.0]| 41502|
+--------------------+------+
only showing top 20 rows

In [19]:
# traing the model

In [20]:
from pyspark.ml.regression import LinearRegression

In [21]:
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='Salary')
regressor=regressor.fit(train_data)

In [22]:
# coefficients

regressor.coefficients

DenseVector([22.1393, -98.3526])

In [23]:
# intercepts

regressor.intercept

28745.732953111114

In [24]:
# prediction

pred_results=regressor.evaluate(test_data)

In [25]:
pred_results.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|         [24.0,11.0]| 18927|28195.198027820945|
|         [25.0,20.0]| 39291| 27332.16417478223|
|         [27.0,21.0]| 44436| 27278.09021655779|
|         [30.0,21.0]| 24983|27344.508139325804|
|         [34.0,12.0]| 33000|28318.238530311213|
|         [38.0,19.0]| 38209|27718.327746846746|
|          [44.0,8.0]| 38619|28933.041899817068|
|          [45.0,1.0]| 34277|29643.649221228225|
|          [46.0,6.0]| 49789|29174.025661801978|
|         [57.0,15.0]|  5187|28532.384884656647|
|          [64.0,2.0]| 33000| 29965.94349202254|
|          [69.0,3.0]| 40504|29978.287456566115|
|          [70.0,8.0]| 14067|29508.663897139868|
|         [72.0,11.0]| 10128| 29257.88479210919|
|          [87.0,7.0]| 33000| 29983.38469956174|
|         [89.0,14.0]|  2588|29339.195300918593|
|          [90.0,6.0]| 33000| 30148.15519573287|
+--------------------+------+------------------+

C:\ProgramData\Anaconda3\lib\site-packages\pyspark\sql\context.py:125: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [26]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(11467.619220396618, 188434109.11305422)