In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\programdata\anaconda3\lib\site-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in c:\programdata\anaconda3\lib\site-packages (from pyspark) (0.10.9.2)

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('App4').getOrCreate()

In [3]:
spark

In [4]:
import pandas as pd
pd.read_csv('Salaries.csv')

,Id,EmployeeName,JobTitle,Salary,Age,Exp
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,34032,80,18
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),27956,48,2
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),20632,78,5
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,48746,38,8
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",43748,39,11
...,...,...,...,...,...,...
69,70,WING CHAN,INCIDENT SUPPORT SPECIALIST,32677,36,11
70,71,GEORGE GASCON,DISTRICT ATTORNEY,10027,20,13
71,72,RICHARD BUSALACCHI,"BATTALION CHIEF, (FIRE DEPARTMENT)",21437,58,4
72,73,LAWRENCE FREED,"ELECTRICAL TRANSIT MECHANIC, ASSISTANT SUPERVISOR",39053,39,16
73,74,MONIQUE MOYER,PORT DIRECTOR,50414,72,15

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('App4').getOrCreate()

In [7]:
spark.read.option('header','true').csv('Salaries.csv').show()

+---+------------------+--------------------+------+---+---+
| Id|      EmployeeName|            JobTitle|Salary|Age|Exp|
+---+------------------+--------------------+------+---+---+
|  1|    NATHANIEL FORD|GENERAL MANAGER-M...| 34032| 80| 18|
|  2|      GARY JIMENEZ|CAPTAIN III (POLI...| 27956| 48|  2|
|  3|    ALBERT PARDINI|CAPTAIN III (POLI...| 20632| 78|  5|
|  4| CHRISTOPHER CHONG|WIRE ROPE CABLE M...| 48746| 38|  8|
|  5|   PATRICK GARDNER|DEPUTY CHIEF OF D...| 43748| 39| 11|
|  6|    DAVID SULLIVAN|ASSISTANT DEPUTY ...|  4863| 64|  2|
|  7|         ALSON LEE|BATTALION CHIEF, ...| 54890| 34| 12|
|  8|     DAVID KUSHNER|DEPUTY DIRECTOR O...| 24841| 62| 16|
|  9|    MICHAEL MORRIS|BATTALION CHIEF, ...| 38806| 23| 12|
| 10|JOANNE HAYES-WHITE|CHIEF OF DEPARTME...| 30939| 80| 21|
| 11|     ARTHUR KENNEY|ASSISTANT CHIEF O...| 20570| 52|  3|
| 12|  PATRICIA JACKSON|CAPTAIN III (POLI...| 44179| 86|  8|
| 13| EDWARD HARRINGTON|EXECUTIVE CONTRAC...| 54211| 85|  5|
| 14|       JOHN MARTIN|   DEPARTMENT HEAD V| 10430| 39| 11|
| 15|    DAVID FRANKLIN|BATTALION CHIEF, ...|  5187| 57| 15|
| 16|   RICHARD CORRIEA|COMMANDER III, (P...| 39291| 25| 20|
| 17|          AMY HART|   DEPARTMENT HEAD V| 29633| 29|  1|
| 18|    SEBASTIAN WONG|CAPTAIN, EMERGENC...| 40976| 85|  4|
| 19|        MARTY ROSS|BATTALION CHIEF, ...| 38209| 38| 19|
| 20|     ELLEN MOFFATT|ASSISTANT MEDICAL...| 41502| 28|  1|
+---+------------------+--------------------+------+---+---+
only showing top 20 rows

In [8]:
df_pyspark=spark.read.option('header','true').csv('Salaries.csv',inferSchema=True)
df_pyspark.show()

+---+------------------+--------------------+------+---+---+
| Id|      EmployeeName|            JobTitle|Salary|Age|Exp|
+---+------------------+--------------------+------+---+---+
|  1|    NATHANIEL FORD|GENERAL MANAGER-M...| 34032| 80| 18|
|  2|      GARY JIMENEZ|CAPTAIN III (POLI...| 27956| 48|  2|
|  3|    ALBERT PARDINI|CAPTAIN III (POLI...| 20632| 78|  5|
|  4| CHRISTOPHER CHONG|WIRE ROPE CABLE M...| 48746| 38|  8|
|  5|   PATRICK GARDNER|DEPUTY CHIEF OF D...| 43748| 39| 11|
|  6|    DAVID SULLIVAN|ASSISTANT DEPUTY ...|  4863| 64|  2|
|  7|         ALSON LEE|BATTALION CHIEF, ...| 54890| 34| 12|
|  8|     DAVID KUSHNER|DEPUTY DIRECTOR O...| 24841| 62| 16|
|  9|    MICHAEL MORRIS|BATTALION CHIEF, ...| 38806| 23| 12|
| 10|JOANNE HAYES-WHITE|CHIEF OF DEPARTME...| 30939| 80| 21|
| 11|     ARTHUR KENNEY|ASSISTANT CHIEF O...| 20570| 52|  3|
| 12|  PATRICIA JACKSON|CAPTAIN III (POLI...| 44179| 86|  8|
| 13| EDWARD HARRINGTON|EXECUTIVE CONTRAC...| 54211| 85|  5|
| 14|       JOHN MARTIN|   DEPARTMENT HEAD V| 10430| 39| 11|
| 15|    DAVID FRANKLIN|BATTALION CHIEF, ...|  5187| 57| 15|
| 16|   RICHARD CORRIEA|COMMANDER III, (P...| 39291| 25| 20|
| 17|          AMY HART|   DEPARTMENT HEAD V| 29633| 29|  1|
| 18|    SEBASTIAN WONG|CAPTAIN, EMERGENC...| 40976| 85|  4|
| 19|        MARTY ROSS|BATTALION CHIEF, ...| 38209| 38| 19|
| 20|     ELLEN MOFFATT|ASSISTANT MEDICAL...| 41502| 28|  1|
+---+------------------+--------------------+------+---+---+
only showing top 20 rows

In [9]:
df_pyspark.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- EmployeeName: string (nullable = true)
 |-- JobTitle: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Exp: integer (nullable = true)

In [10]:
# Filter Operation -> select, less than, specific columns

In [15]:
df_pyspark.filter("Salary<=6000").show()

+---+--------------+--------------------+------+---+---+
| Id|  EmployeeName|            JobTitle|Salary|Age|Exp|
+---+--------------+--------------------+------+---+---+
|  6|DAVID SULLIVAN|ASSISTANT DEPUTY ...|  4863| 64|  2|
| 15|DAVID FRANKLIN|BATTALION CHIEF, ...|  5187| 57| 15|
| 21|    VENUS AZAR|ASSISTANT MEDICAL...|  2588| 89| 14|
| 26|  GREGORY SUHR|     CHIEF OF POLICE|  2204| 30|  6|
+---+--------------+--------------------+------+---+---+

In [16]:
df_pyspark.filter("Salary<=6000").count()

4

In [19]:
df_pyspark.filter("Salary<=6000").select(['EmployeeName','Age']).show()

+--------------+---+
|  EmployeeName|Age|
+--------------+---+
|DAVID SULLIVAN| 64|
|DAVID FRANKLIN| 57|
|    VENUS AZAR| 89|
|  GREGORY SUHR| 30|
+--------------+---+