In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\programdata\anaconda3\lib\site-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in c:\programdata\anaconda3\lib\site-packages (from pyspark) (0.10.9.2)

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('App3').getOrCreate()

In [3]:
spark

In [4]:
import pandas as pd
pd.read_csv('titanic1.csv')

        Sex  Age     Fare
0      male   22     7.25
1       NaN   38  71.2833
2    female   26    7.925
3    female  NaN     53.1
4      male   35     8.05
..      ...  ...      ...
886    male   27       13
887  female   19       30
888  female    1        S
889    male   26       30
890    male   32     7.75

[891 rows x 3 columns]

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('App3').getOrCreate()

In [7]:
spark.read.option('header','true').csv('titanic1.csv').show()

+------+----+-------+
|   Sex| Age|   Fare|
+------+----+-------+
|  male|  22|   7.25|
|  null|  38|71.2833|
|female|  26|  7.925|
|female|null|   53.1|
|  male|  35|   8.05|
|  male|   0|      Q|
|  male|  54|51.8625|
|  male|   2| 21.075|
|female|  27|11.1333|
|  null|  14|30.0708|
|female|   4|   16.7|
|female|  58|   null|
|  male|  20|   8.05|
|  male|  39| 31.275|
|female|  14| 7.8542|
|female|null|     16|
|  male|   2| 29.125|
|  null|   0|      S|
|female|  31|     18|
|female|   0|      C|
+------+----+-------+
only showing top 20 rows

In [8]:
df_pyspark=spark.read.option('header','true').csv('titanic1.csv',inferSchema=True)
df_pyspark.show()

+------+----+-------+
|   Sex| Age|   Fare|
+------+----+-------+
|  male|  22|   7.25|
|  null|  38|71.2833|
|female|  26|  7.925|
|female|null|   53.1|
|  male|  35|   8.05|
|  male|   0|      Q|
|  male|  54|51.8625|
|  male|   2| 21.075|
|female|  27|11.1333|
|  null|  14|30.0708|
|female|   4|   16.7|
|female|  58|   null|
|  male|  20|   8.05|
|  male|  39| 31.275|
|female|  14| 7.8542|
|female|null|     16|
|  male|   2| 29.125|
|  null|   0|      S|
|female|  31|     18|
|female|   0|      C|
+------+----+-------+
only showing top 20 rows

In [9]:
df_pyspark.printSchema()

root
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Fare: string (nullable = true)

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame