In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\programdata\anaconda3\lib\site-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in c:\programdata\anaconda3\lib\site-packages (from pyspark) (0.10.9.2)

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('App2').getOrCreate()

In [3]:
spark

In [4]:
import pandas as pd
pd.read_csv('titanic1.csv')

        Sex  Age     Fare
0      male   22     7.25
1       NaN   38  71.2833
2    female   26    7.925
3    female  NaN     53.1
4      male   35     8.05
..      ...  ...      ...
886    male   27       13
887  female   19       30
888  female    1        S
889    male   26       30
890    male   32     7.75

[891 rows x 3 columns]

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark=SparkSession.builder.appName('App2').getOrCreate()

In [7]:
spark.read.option('header','true').csv('titanic1.csv').show()

+------+----+-------+
|   Sex| Age|   Fare|
+------+----+-------+
|  male|  22|   7.25|
|  null|  38|71.2833|
|female|  26|  7.925|
|female|null|   53.1|
|  male|  35|   8.05|
|  male|   0|      Q|
|  male|  54|51.8625|
|  male|   2| 21.075|
|female|  27|11.1333|
|  null|  14|30.0708|
|female|   4|   16.7|
|female|  58|   null|
|  male|  20|   8.05|
|  male|  39| 31.275|
|female|  14| 7.8542|
|female|null|     16|
|  male|   2| 29.125|
|  null|   0|      S|
|female|  31|     18|
|female|   0|      C|
+------+----+-------+
only showing top 20 rows

In [8]:
df_pyspark=spark.read.option('header','true').csv('titanic1.csv',inferSchema=True)
df_pyspark.show()

+------+----+-------+
|   Sex| Age|   Fare|
+------+----+-------+
|  male|  22|   7.25|
|  null|  38|71.2833|
|female|  26|  7.925|
|female|null|   53.1|
|  male|  35|   8.05|
|  male|   0|      Q|
|  male|  54|51.8625|
|  male|   2| 21.075|
|female|  27|11.1333|
|  null|  14|30.0708|
|female|   4|   16.7|
|female|  58|   null|
|  male|  20|   8.05|
|  male|  39| 31.275|
|female|  14| 7.8542|
|female|null|     16|
|  male|   2| 29.125|
|  null|   0|      S|
|female|  31|     18|
|female|   0|      C|
+------+----+-------+
only showing top 20 rows

In [9]:
df_pyspark.printSchema()

root
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Fare: string (nullable = true)

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark.columns

['Sex', 'Age', 'Fare']

In [12]:
df_pyspark.head(3)

[Row(Sex='male', Age='22', Fare='7.25'),
 Row(Sex='null', Age='38', Fare='71.2833'),
 Row(Sex='female', Age='26', Fare='7.925')]

In [13]:
df_pyspark.select('Age')

DataFrame[Age: string]

In [14]:
type(df_pyspark.select('Age'))

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.select('Sex','Fare').show()

+------+-------+
|   Sex|   Fare|
+------+-------+
|  male|   7.25|
|  null|71.2833|
|female|  7.925|
|female|   53.1|
|  male|   8.05|
|  male|      Q|
|  male|51.8625|
|  male| 21.075|
|female|11.1333|
|  null|30.0708|
|female|   16.7|
|female|   null|
|  male|   8.05|
|  male| 31.275|
|female| 7.8542|
|female|     16|
|  male| 29.125|
|  null|      S|
|female|     18|
|female|      C|
+------+-------+
only showing top 20 rows

In [16]:
display(df_pyspark.select('Sex','Age'))

DataFrame[Sex: string, Age: string]

In [17]:
df_pyspark.dtypes

[('Sex', 'string'), ('Age', 'string'), ('Fare', 'string')]

In [18]:
df_pyspark.describe()

DataFrame[summary: string, Sex: string, Age: string, Fare: string]

In [19]:
df_pyspark.describe().show()

+-------+------+------------------+------------------+
|summary|   Sex|               Age|              Fare|
+-------+------+------------------+------------------+
|  count|   881|               890|               876|
|   mean|  null|24.191784703196344| 35.06111839416054|
| stddev|  null|19.275817264662408|53.141056351230525|
|    min|female|                 0|                 0|
|    max|  null|              null|              null|
+-------+------+------------------+------------------+

In [20]:
# appent new columns

df_pyspark.withColumn('NewCol',df_pyspark['Fare']*2)

DataFrame[Sex: string, Age: string, Fare: string, NewCol: double]

In [21]:
df_pyspark.withColumn('NewCol',df_pyspark['Fare']*2).show()

+------+----+-------+--------+
|   Sex| Age|   Fare|  NewCol|
+------+----+-------+--------+
|  male|  22|   7.25|    14.5|
|  null|  38|71.2833|142.5666|
|female|  26|  7.925|   15.85|
|female|null|   53.1|   106.2|
|  male|  35|   8.05|    16.1|
|  male|   0|      Q|    null|
|  male|  54|51.8625| 103.725|
|  male|   2| 21.075|   42.15|
|female|  27|11.1333| 22.2666|
|  null|  14|30.0708| 60.1416|
|female|   4|   16.7|    33.4|
|female|  58|   null|    null|
|  male|  20|   8.05|    16.1|
|  male|  39| 31.275|   62.55|
|female|  14| 7.8542| 15.7084|
|female|null|     16|    32.0|
|  male|   2| 29.125|   58.25|
|  null|   0|      S|    null|
|female|  31|     18|    36.0|
|female|   0|      C|    null|
+------+----+-------+--------+
only showing top 20 rows

In [22]:
# drop columns

df_pyspark.drop('NewCol')

DataFrame[Sex: string, Age: string, Fare: string]

In [23]:
df_pyspark.show()

+------+----+-------+
|   Sex| Age|   Fare|
+------+----+-------+
|  male|  22|   7.25|
|  null|  38|71.2833|
|female|  26|  7.925|
|female|null|   53.1|
|  male|  35|   8.05|
|  male|   0|      Q|
|  male|  54|51.8625|
|  male|   2| 21.075|
|female|  27|11.1333|
|  null|  14|30.0708|
|female|   4|   16.7|
|female|  58|   null|
|  male|  20|   8.05|
|  male|  39| 31.275|
|female|  14| 7.8542|
|female|null|     16|
|  male|   2| 29.125|
|  null|   0|      S|
|female|  31|     18|
|female|   0|      C|
+------+----+-------+
only showing top 20 rows

In [24]:
# rename columns

df_pyspark.withColumnRenamed('Age','New_Name').show()

+------+--------+-------+
|   Sex|New_Name|   Fare|
+------+--------+-------+
|  male|      22|   7.25|
|  null|      38|71.2833|
|female|      26|  7.925|
|female|    null|   53.1|
|  male|      35|   8.05|
|  male|       0|      Q|
|  male|      54|51.8625|
|  male|       2| 21.075|
|female|      27|11.1333|
|  null|      14|30.0708|
|female|       4|   16.7|
|female|      58|   null|
|  male|      20|   8.05|
|  male|      39| 31.275|
|female|      14| 7.8542|
|female|    null|     16|
|  male|       2| 29.125|
|  null|       0|      S|
|female|      31|     18|
|female|       0|      C|
+------+--------+-------+
only showing top 20 rows