In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('app1').getOrCreate()
df=spark.read.option('header','true').csv('Salaries.csv')
df.printSchema(),df.limit(1).show(vertical=True),df.describe().show(truncate=False)

root
 |-- Id: string (nullable = true)
 |-- EmployeeName: string (nullable = true)
 |-- JobTitle: string (nullable = true)
 |-- Salary: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Exp: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)

-RECORD 0----------------------------
 Id           | 1
 EmployeeName | NATHANIEL FORD
 JobTitle     | GENERAL MANAGER-M...
 Salary       | 34032
 Age          | 80
 Exp          | 18
 Country      | UK
 City         | London

+-------+-----------------+--------------+------------------------------------+------------------+------------------+------------------+-------+--------+
|summary|Id               |EmployeeName  |JobTitle                            |Salary            |Age               |Exp               |Country|City    |
+-------+-----------------+--------------+------------------------------------+------------------+------------------+------------------+-------+--------+
|count  |74               |74            |74                                  |74                |74                |74                |74     |64      |
|mean   |37.5             |null          |null                                |29012.31081081081 |55.148648648648646|10.027027027027026|null   |null    |
|stddev |21.50581316760657|null          |null                                |12716.486404023604|22.24193400506845 |6.285388520097592 |null   |null    |
|min    |1                |AI-KYUNG CHUNG|ADMINISTRATOR, SFGH MEDICAL CENTER  |10128             |20                |1                 |Germany|Berlin  |
|max    |9                |WING CHAN     |WIRE ROPE CABLE MAINTENANCE MECHANIC|8117              |90                |9                 |USA    |New York|
+-------+-----------------+--------------+------------------------------------+------------------+------------------+------------------+-------+--------+

(None, None, None)

In [2]:
# Rank and dense rank

In [3]:
from pyspark.sql import functions as F
from pyspark.sql.window import Window as W

In [20]:
df.groupBy('Country').agg({'Exp':'sum'}).show()

+-------+--------+
|Country|sum(Exp)|
+-------+--------+
|Germany|   321.0|
|    USA|   247.0|
|     UK|   174.0|
+-------+--------+

In [39]:
df.withColumn("#rank", F.dense_rank().over(W.partitionBy('Country').orderBy(F.desc('Exp')))).show()

+---+--------------------+--------------------+------+---+---+-------+--------+-----+
| Id|        EmployeeName|            JobTitle|Salary|Age|Exp|Country|    City|#rank|
+---+--------------------+--------------------+------+---+---+-------+--------+-----+
| 56|       KEVIN CASHMAN|DEPUTY CHIEF III ...| 33000| 31|  9|Germany|  Berlin|    1|
| 62|          ANNA BROWN|CAPTAIN III (POLI...| 22822| 62|  8|Germany|  Berlin|    2|
| 55|        RAY CRAWFORD|CAPTAIN, EMERGENC...| 33000| 87|  7|Germany|  Berlin|    3|
| 60|      AI-KYUNG CHUNG|         ANESTHETIST| 49789| 46|  6|Germany|  Berlin|    4|
| 47|    BRYAN RUBENSTEIN|BATTALION CHIEF, ...| 48372| 65|  5|Germany|  Berlin|    5|
| 50|             KEN YEE|LIEUTENANT, FIRE ...| 15362| 70|  5|Germany|  Berlin|    5|
| 68|       EDWARD ROLAND|CAPTAIN, FIRE SUP...| 27273| 41|  5|Germany|New York|    5|
| 67|       ROBERT POSTEL|ASSISTANT CHIEF O...| 34315| 57|  4|Germany|New York|    6|
| 72|  RICHARD BUSALACCHI|BATTALION CHIEF, ...| 33000| 58|  4|Germany|    null|    6|
| 69|      THOMAS SHAWYER|DEPUTY CHIEF III ...| 40504| 69|  3|Germany|New York|    7|
| 45|SHARON MCCOLE WICHER|NURSING SUPERVISO...| 44436| 27| 21|Germany|    null|    8|
| 51|     KIRK RICHARDSON|BATTALION CHIEF, ...|  6666| 84| 21|Germany|  Berlin|    8|
| 61|       KENNETH SMITH|LIEUTENANT, FIRE ...| 24983| 30| 21|Germany|  Berlin|    8|
| 52|      BARBARA GARCIA|   DEPARTMENT HEAD V| 11732| 85| 20|Germany|  Berlin|    9|
| 48|        TRENT RHORER|   DEPARTMENT HEAD V| 52522| 80|  2|Germany|  Berlin|   10|
| 66|       RICHARD PARRY|CAPTAIN III (POLI...| 31965| 46|  2|Germany|New York|   10|
| 58|        MARK KEARNEY|ASSISTANT DEPUTY ...| 31311| 46| 19|Germany|  Berlin|   11|
| 65|         GREGORY MAR|LIEUTENANT III (P...| 36810| 34| 18|Germany|New York|   12|
| 59|        DOUGLAS RIBA|INCIDENT SUPPORT ...| 30885| 20| 17|Germany|  Berlin|   13|
| 73|      LAWRENCE FREED|ELECTRICAL TRANSI...| 33000| 39| 16|Germany|    null|   14|
+---+--------------------+--------------------+------+---+---+-------+--------+-----+
only showing top 20 rows

In [44]:
df.withColumn("#rank", F.rank().over(W.partitionBy('Country').orderBy(F.asc('Salary')))).show()

+---+------------------+--------------------+------+---+---+-------+--------+-----+
| Id|      EmployeeName|            JobTitle|Salary|Age|Exp|Country|    City|#rank|
+---+------------------+--------------------+------+---+---+-------+--------+-----+
| 46|         EDWIN LEE|               MAYOR| 10498| 54| 13|Germany|  Berlin|    1|
| 52|    BARBARA GARCIA|   DEPARTMENT HEAD V| 11732| 85| 20|Germany|  Berlin|    2|
| 50|           KEN YEE|LIEUTENANT, FIRE ...| 15362| 70|  5|Germany|  Berlin|    3|
| 49|      JAMES DUDLEY|DEPUTY CHIEF III ...| 16433| 41| 14|Germany|  Berlin|    4|
| 64|     CHARLES CRANE|BATTALION CHIEF, ...| 18992| 79|  1|Germany|New York|    5|
| 62|        ANNA BROWN|CAPTAIN III (POLI...| 22822| 62|  8|Germany|  Berlin|    6|
| 61|     KENNETH SMITH|LIEUTENANT, FIRE ...| 24983| 30| 21|Germany|  Berlin|    7|
| 68|     EDWARD ROLAND|CAPTAIN, FIRE SUP...| 27273| 41|  5|Germany|New York|    8|
| 59|      DOUGLAS RIBA|INCIDENT SUPPORT ...| 30885| 20| 17|Germany|  Berlin|    9|
| 58|      MARK KEARNEY|ASSISTANT DEPUTY ...| 31311| 46| 19|Germany|  Berlin|   10|
| 66|     RICHARD PARRY|CAPTAIN III (POLI...| 31965| 46|  2|Germany|New York|   11|
| 70|         WING CHAN|INCIDENT SUPPORT ...| 32677| 36| 11|Germany|    null|   12|
| 53|  MICHAEL ROLOVICH|CAPTAIN, FIRE SUP...| 33000| 23| 10|Germany|  Berlin|   13|
| 54|     DARRYL HUNTER|CAPTAIN, FIRE SUP...| 33000| 56| 10|Germany|  Berlin|   13|
| 55|      RAY CRAWFORD|CAPTAIN, EMERGENC...| 33000| 87|  7|Germany|  Berlin|   13|
| 56|     KEVIN CASHMAN|DEPUTY CHIEF III ...| 33000| 31|  9|Germany|  Berlin|   13|
| 71|     GEORGE GASCON|   DISTRICT ATTORNEY| 33000| 20| 13|Germany|    null|   13|
| 72|RICHARD BUSALACCHI|BATTALION CHIEF, ...| 33000| 58|  4|Germany|    null|   13|
| 73|    LAWRENCE FREED|ELECTRICAL TRANSI...| 33000| 39| 16|Germany|    null|   13|
| 67|     ROBERT POSTEL|ASSISTANT CHIEF O...| 34315| 57|  4|Germany|New York|   20|
+---+------------------+--------------------+------+---+---+-------+--------+-----+
only showing top 20 rows

In [13]:
from pyspark.sql.functions import rank
df.withColumn("#rank",rank().over(W.partitionBy("Country").orderBy("Exp"))).show()

+---+--------------------+--------------------+------+---+---+-------+--------+-----+
| Id|        EmployeeName|            JobTitle|Salary|Age|Exp|Country|    City|#rank|
+---+--------------------+--------------------+------+---+---+-------+--------+-----+
| 64|       CHARLES CRANE|BATTALION CHIEF, ...| 18992| 79|  1|Germany|New York|    1|
| 53|    MICHAEL ROLOVICH|CAPTAIN, FIRE SUP...| 33000| 23| 10|Germany|  Berlin|    2|
| 54|       DARRYL HUNTER|CAPTAIN, FIRE SUP...| 33000| 56| 10|Germany|  Berlin|    2|
| 57| BENJAMIN ROSENFIELD|   DEPARTMENT HEAD V|  7621| 83| 10|Germany|  Berlin|    2|
| 63|   JAMES FAZACKERLEY|CAPTAIN, EMERGENC...|  7751| 53| 11|Germany|New York|    5|
| 70|           WING CHAN|INCIDENT SUPPORT ...| 32677| 36| 11|Germany|    null|    5|
| 46|           EDWIN LEE|               MAYOR| 10498| 54| 13|Germany|  Berlin|    7|
| 71|       GEORGE GASCON|   DISTRICT ATTORNEY| 33000| 20| 13|Germany|    null|    7|
| 49|        JAMES DUDLEY|DEPUTY CHIEF III ...| 16433| 41| 14|Germany|  Berlin|    9|
| 74|       MONIQUE MOYER|       PORT DIRECTOR| 50414| 72| 15|Germany|    null|   10|
| 73|      LAWRENCE FREED|ELECTRICAL TRANSI...| 33000| 39| 16|Germany|    null|   11|
| 59|        DOUGLAS RIBA|INCIDENT SUPPORT ...| 30885| 20| 17|Germany|  Berlin|   12|
| 65|         GREGORY MAR|LIEUTENANT III (P...| 36810| 34| 18|Germany|New York|   13|
| 58|        MARK KEARNEY|ASSISTANT DEPUTY ...| 31311| 46| 19|Germany|  Berlin|   14|
| 48|        TRENT RHORER|   DEPARTMENT HEAD V| 52522| 80|  2|Germany|  Berlin|   15|
| 66|       RICHARD PARRY|CAPTAIN III (POLI...| 31965| 46|  2|Germany|New York|   15|
| 52|      BARBARA GARCIA|   DEPARTMENT HEAD V| 11732| 85| 20|Germany|  Berlin|   17|
| 45|SHARON MCCOLE WICHER|NURSING SUPERVISO...| 44436| 27| 21|Germany|    null|   18|
| 51|     KIRK RICHARDSON|BATTALION CHIEF, ...|  6666| 84| 21|Germany|  Berlin|   18|
| 61|       KENNETH SMITH|LIEUTENANT, FIRE ...| 24983| 30| 21|Germany|  Berlin|   18|
+---+--------------------+--------------------+------+---+---+-------+--------+-----+
only showing top 20 rows